<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Login</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "welcome.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}">
</head>
<body>
	<header>
		<h1>Sfotipy</h1>
	</header>
	<section class="sign_form" >
		<form action="" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input class="enviar" type="submit" value="Enviar" />
		</form>
	</section>
</body>
</html>